<div id="wrap">
    <div data-ng-include="" src="'views/shared/_nav.html'"></div>

    <div class="container admin-views-main" data-ng-controller="ChatAccountsController">
        <div class="page-header clearfix">
            <h2 class="page-title pull-left">
                Привязанные аккаунты
            </h2>
        </div>

        <div class="help-block" style="margin-bottom: 10px;">
            Добавьте аккаунт по номеру телефона для платформы.
        </div>

        <div class="row" style="margin-bottom: 15px;">
            <div class="col-md-4">
                <button class="btn btn-success btn-block" data-ng-click="showTelegram = !showTelegram">
                    <i class="fa fa-telegram"></i> Телеграм
                </button>
                <div data-ng-show="showTelegram" class="form-inline">
                    <div class="form-group" style="width: 100%;">
                        <input type="tel"
                               inputmode="tel"
                               class="form-control"
                               style="width: 100%;"
                               placeholder="Номер телефона (например: +79991234567)"
                               data-ng-model="phone"
                               data-ng-change="onPhoneChange()"
                               maxlength="18" />
                    </div>
                    <div class="help-block" data-ng-show="showTelegram && phone && !isPhoneValid">
                        Введите номер телефона в международном формате (7–15 цифр, допускается ведущий "+").
                    </div>
                    <div style="text-align: center; margin-top: 10px;">
                        <button class="btn btn-primary" data-ng-click="addTelegram()" data-ng-disabled="!isPhoneValid">Добавить</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <button class="btn btn-default btn-block" disabled>
                    <i class="fa fa-whatsapp"></i> WhatsApp
                </button>
            </div>

            <div class="col-md-4">
                <button class="btn btn-default btn-block" disabled>
                    <i class="fa fa-comments"></i> MessengerMAX
                </button>
            </div>
        </div>

        <table class="table table-bordered table-striped table-hover table-responsive">
            <thead>
                <tr>
                    <th>Платформа</th>
                    <th>Номер телефона</th>
                    <th>Статус</th>
                    <th style="width: 120px;">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="item in items">
                    <td>{{item.Platform || item.platform}}</td>
                    <td>{{item.Phone || item.phone}}</td>
                    <td>
                        <span style="display:inline-block;width:10px;height:10px;border-radius:50%;"
                              data-ng-style="{ 'background-color': (((item.Status !== undefined ? item.Status : item.status) == 0) ? '#d9534f' : '#5cb85c') }"></span>
                        <span style="display:inline-block; width:10px;"></span>

                        <button class="btn btn-xs btn-warning"
                                data-ng-if="(item.Status !== undefined ? item.Status : item.status) == 0"
                                data-ng-click="loginRequired(item)">
                            Требуется залогинивание
                        </button>

                        <button class="btn btn-xs btn-primary"
                                data-ng-if="(item.Status !== undefined ? item.Status : item.status) == 1"
                                data-ng-click="loadChats(item)">
                            {{ (getChatCount(item) > 0) ? ('Найдено ' + getChatCount(item) + ' чатов') : 'Загрузить чаты' }}
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-danger btn-sm" data-ng-click="remove(item)">Удалить</button>
                    </td>
                </tr>
                <tr data-ng-if="!items || items.length === 0">
                    <td colspan="4">Нет данных</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="footer" data-ng-include src="'views/shared/_footer.html?v=2'"></div>
