<div id="wrap">
    <div data-ng-include="" src="'views/shared/_nav.html'"></div>

    <div class="container admin-views-main" data-ng-controller="UsersController">
        <div class="page-header clearfix">
            <h2 class="page-title pull-left">Пользователи</h2>
        </div>

        <div class="alert alert-danger" data-ng-if="!isAdmin">
            Недостаточно прав для доступа к разделу.
        </div>

        <div data-ng-if="isAdmin">
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-md-4">
                    <input type="text" class="form-control" placeholder="Поиск" data-ng-model="q" />
                </div>
                <div class="col-md-8 text-right">
                    <button class="btn btn-default" data-ng-click="load()">Обновить</button>
                </div>
            </div>

            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Логин</th>
                        <th>Email</th>
                        <th>IsPaid</th>
                        <th>IsAdmin</th>
                        <th>Новый пароль</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="u in items | filter:q">
                        <td>{{u.UserName}}</td>
                        <td>{{u.Email}}</td>
                        <td>
                            <input type="checkbox" data-ng-model="u.IsPaid" />
                        </td>
                        <td>
                            <input type="checkbox" data-ng-model="u.IsAdmin" />
                        </td>
                        <td>
                            <input type="password" class="form-control" data-ng-model="newPasswords[u.UserName]" placeholder="Новый пароль" />
                        </td>
                        <td class="text-right">
                            <button class="btn btn-xs btn-primary" data-ng-click="save(u)">Сохранить</button>
                            <button class="btn btn-xs btn-danger" data-ng-click="remove(u)">Удалить</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="footer" data-ng-include src="'views/shared/_footer.html?v=2'"></div>
